@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

.navbar-shadow {
    box-shadow: 0 4px 6px -1px rgba(172, 12, 12, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Custom Scrollbar */
/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ffbf00;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8b6900;
} */

/* Timeline styles */
.timeline {
    position: relative;
}
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 4px;
    background: #E5E7EB;
    height: 100%;
    border-radius: 9999px;
}
@media (min-width: 768px) {
    .timeline::before {
        left: 50%;
        transform: translateX(-50%);
    }
}
.timeline-item {
    position: relative;
    padding-left: 60px;
    padding-bottom: 40px;
}
@media (min-width: 768px) {
    .timeline-item {
        width: 50%;
        padding-left: 0;
        padding-right: 60px;
    }
    .timeline-item:nth-child(even) {
        margin-left: 50%;
        padding-left: 60px;
        padding-right: 0;
    }
    .timeline-item:nth-child(odd) .timeline-content {
        text-align: right;
    }
}
.timeline-marker {
    position: absolute;
    top: 0;
    left: 10px;
    width: 24px;
    height: 24px;
    background-color: #4e4d4e;
    border: 4px solid #f8f9fa;
    border-radius: 50%;
    z-index: 10;
}
@media (min-width: 768px) {
    .timeline-item:nth-child(odd) .timeline-marker {
        left: auto;
        right: -12px;
    }
    .timeline-item:nth-child(even) .timeline-marker {
        left: -12px;
    }
}

/* Skill list */
.skill-list {
    list-style-type: none;
    padding-left: 0;
}
.skill-list li::before {
    content: "✦";
    color: #4F46E5;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Project Card */
.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.project-image-container {
    height: 200px;
}

/* Testimonial Card */
.testimonial-card {
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}
.testimonial-card:hover {
    transform: translateY(-3px);
}
.quote-icon {
    color: #FFEFD3; 
}
